
<div class="course-card" [ngClass]="cardClasses()">

    <div class="course-title">
      {{course.id}} {{ course.description }}
    </div>

    @if(course.id == 1) {
      <h2>Course with ID 1 detected!</h2>
    }
    @else if(course.iconUrl) {
      <img width="300" alt="Angular Logo" [src]="course.iconUrl">
    }
    @else {
      <h2>No image available!</h2>
    }



    <div class="course-description">
        {{ course.longDescription }}
    </div>
    <div>
      {{ course.category }}
    </div>
    <button (click)="onCourseViewed()">View Course</button>

</div>


<!-- @if(course.iconUrl) -->
<!-- Se o curso tiver uma imagem, ele irá renderiza-la, senão... -->
<!-- Para aplicar um estilo de maneira condicional utilizamos ngClass-->
